@using Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- App css -->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />

    <style>
        .hrefstyle {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .btnSearch {
            position: absolute;
            top: 2px;
            right: 2px;
            color: rgba(255, 255, 255, 0.7);
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 11px;
        }
    </style>
</head>

<body>

    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <!-- Text Logo -->
                    <!--<a href="index.html" class="logo">-->
                    <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                    <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Adminto</span>-->
                    <!--</a>-->
                    <!-- Image Logo -->
                    <a href="/" class="logo">
                        <img src="~/assets/images/logo-sm.png" alt="" height="26" class="logo-small">
                        <img src="~/images/logo.png" height="24" class="logo-large" />
                    </a>

                </div>
                <!-- End Logo container-->


                <div class="menu-extras topbar-custom">

                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>
                        <li class="hide-phone">
                            <form class="app-search">
                                <input type="text" placeholder="Search..."
                                       class="form-control">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="mdi mdi-bell-outline noti-icon"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                @Html.Partial("_LoginPartial")

                            </div>
                        </li>

                    </ul>
                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->


        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="@Url.Action("Index", "Home", new { area = "" })">
                                <i class="fa fa-cog"></i>Accueil
                            </a>
                        </li>
                        @if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
                        {
                            <li class="has-submenu">
                                <a href="@Url.Action("Index", "DemandeAccesEngins", new { area = "" })">
                                    <i class="fa fa-cog"></i>Contrôle
                                </a>
                            </li>
                        }
                        @if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CHEFPROJET) || HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
                        {
                            <li class="has-submenu">
                                <a href="@Url.Action("MyDemande", "DemandeAccesEngins", new { area = "" })">
                                    <i class="fa fa-cog"></i>Mes Demandes
                                </a>
                            </li>
                        <li class="has-submenu">
                            <a href="@Url.Action("DemandeExpired", "Home", new { area = "" })">
                                <i class="fa fa-cog"></i>Demandes expirées
                            </a>
                            </li>
                        }   @if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_BACKOFFICE))
                        {
                            <li class="has-submenu">
                                <a href="@Url.Action("Index", "Settings", new { area = "BackOffice" })">
                                    <i class="fa fa-cog"></i>Administration
                                </a>
                            </li>
                        }
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right m-t-20">

                    </div>
                    <h4 class="page-title">@ViewBag.Title</h4>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            @Html.Partial("_MessageHeader")

            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()

                </div>
            </div>
        </div>
        <!-- end container -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="mdi mdi-close-circle-outline"></i>
            </a>
        </div>
        <!-- /Right-bar -->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    2016 - @DateTime.Now.Year © Ocp Acces Des Engins
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/templateJS")
    @*@Html.Partial("_FooterAllScripts")*@
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <!-- App js -->
    @RenderSection("scripts", required: false)
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
</body>
</html>
