@using Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- App css -->

    <style>
        .hrefstyle {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .btnSearch {
            position: absolute;
            top: 2px;
            right: 2px;
            color: rgba(255, 255, 255, 0.7);
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 11px;
        }
        .body-content {
            margin-top: 50px;
        }


    </style>
</head>

<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="logo"><img src="/images/logo-ocp.png" height="60" /></a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        @{
                            if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_SURETE))
                            {
                                <li class="has-submenu">
                                    <a href="@Url.Action("SotiesEngins", "Home", new { area = "" })">
                                        <i class="fa fa-cog"></i>Sorties d'engins
                                    </a>
                                </li>
                            }
                            if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CHEFPROJET) || HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
                            {
                                <li class="has-submenu">
                                    <a href="@Url.Action("Index", "Home", new { area = "" })">
                                        <i class="fa fa-cog"></i>Accueil
                                    </a>
                                </li>
                                <li class="has-submenu">
                                    <a href="@Url.Action("Index", "DemandeAccesEngins", new { area = "" })">
                                        <i class="fa fa-cog"></i>Demandes
                                    </a>
                                </li>
                                <li class="has-submenu">
                                    <a href="@Url.Action("DemandeExpired", "Home", new { area = "" })">
                                        <i class="fa fa-cog"></i>Demandes expirées
                                    </a>
                                </li>
                            }
                            if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
                            {
                                <li class="has-submenu">
                                    <a href="@Url.Action("MyControl", "DemandeAccesEngins", new { area = "" })">
                                        <i class="fa fa-cog"></i>Mes Contrôles
                                    </a>
                                </li>
                            }
                            if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_BACKOFFICE))
                            {
                                <li class="has-submenu">
                                    <a href="@Url.Action("Index", "Settings", new { area = "BackOffice" })">
                                        <i class="fa fa-cog"></i>Administration
                                    </a>
                                </li>
                            }
                        }


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </li>
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <div class="container body-content">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right m-t-20">

                </div>
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
        @Html.Partial("_MessageHeader")

        <div class="row">
            <div class="col-sm-12">
                @RenderBody()

            </div>
        </div>
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="mdi mdi-close-circle-outline"></i>
            </a>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2016 - @DateTime.Now.Year © Ocp Acces Des Engins
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Html.Partial("_FooterAllScripts")*@
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

</body>
</html>
