@model Front.ViewModels.ResultatsVM

<table id="" class="table table-bordered">
    <thead>
        <tr>
            <th>Exigences</th>
            <th>Conforme</th>
            <th>Observation</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var rubric in Model.TypeCheckList.CheckListRubrique.Where(x => x.IsActif == true))
            {
                <tr style="background-color:#9CCC65; color:white">
                    <td colspan="4"><b>@rubric.Name</b></td>
                </tr>
                foreach (var exigence in rubric.CheckListExigence.Where(x => x.IsActif == true))
                {
                    <tr style="display:none;">
                        <td><input name="ResultatExigenceList.Index" type="hidden" value="'@exigence.Id'" /></td>
                        @* add indicator id hidden field hidden for*@
                        @Html.Hidden($"ResultatExigenceList['{exigence.Id}'].CheckListExigenceId", exigence.Id)
                    </tr>
                    <tr>
                        <td>@exigence.Name</td>
                        <td  class="markerDiv">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox_@exigence.Id" type="checkbox" name="ResultatExigenceList['@exigence.Id'].IsConform" value="true" />
                                <label for="checkbox_@exigence.Id">

                                </label>
                            </div>


                        </td>
                        <td><input class="form-control TextComment" name="ResultatExigenceList['@exigence.Id'].Observation" value="" type="text"></td>
                        <td>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input style=" width: 10%;" type="text" class="form-control datepicker-autoclose" @(exigence.IsHasDate ? "required" : "") name="ResultatExigenceList['@exigence.Id'].Date" placeholder="yyyy/mm/dd">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="ti-calendar"></i></span>
                                    </div>

                                    @(exigence.IsHasDate ? Html.Raw("<span class='fa fa-asterisk d-inline p-2' style='color:red'></span>") : null)
                                </div>
                               
                            </div>
                        </td>

                    </tr>

                }
            }
        }

    </tbody>
</table>