@model Front.ViewModels.ResultatsVM

<table id="" class="table table-bordered">
    <thead>
        <tr>
            <th>Exigences</th>
            <th>Conforme</th>
            <th>Observation</th>
            <th>
                Date fin de validité
            </th>
        </tr>
    </thead>
    <tbody>
        @{

            foreach (var rubric in Model.TypeCheckList.REF_CheckListRubrique.Where(x => x.IsActif == true))
            {
                <tr style="background-color:#9CCC65; color:white">
                    <td colspan="4"><b>@rubric.Name</b></td>
                </tr>
                foreach (var exigence in rubric.REF_CheckListExigence.Where(x => x.IsActif == true))
                {
                    var data = Model.DemandeResultat.ResultatControleDetail.Where(x => x.CheckListExigenceId == exigence.Id).FirstOrDefault();

                    if (data == null)
                    {
                        continue;
                    }
                    <tr>
                        <td>@exigence.Name</td>
                        <td>@(data.IsConform ? "Conforme" : "Non conforme")</td>
                        <td>@data.Observation</td>
                        <td>@(data.DateExpiration?.ToString("dd/MM/yyyy"))</td>

                    </tr>

                }
            }

        }
        <tr style="background-color:#21AFDA; color:white">
            <td colspan="4" class="text-center"><b>Le représentant de l'entité HSE site</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Nom et prénom :&nbsp;&nbsp;</b> @Model.controle.AspNetUsers.Profile.FullName <br /><br />
                <b>Mle :&nbsp;&nbsp;</b> <br /><br />
                <b>Visa :&nbsp;&nbsp;</b>
            </td>
            <td colspan="2" nowrap>
                <table  class="tblborder">
                    <tr>

                    <td  style="border:none !important" colspan="2">sur le base données actuelles, le véhicule en question est : <br /><br /></td>
                    </tr>
                    <tr  style="">

                        <td><b>Autorisé</b> à accéder le Site OCP <br /> @Model.controle.Entite.Sites.Name pour <b>déchargement</b> ou <b>chargement</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td >
                            @if (Model.controle.IsAutorise)
                            {
                                <h4> <span class="badge  btn badge-success ">OUI</span></h4>
                            }
                            else
                            {
                                <h4> <span class="badge  btn badge-danger ">NON</span></h4>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


    </tbody>
</table>



