@using Front.Models;
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    /// string entitename = !string.IsNullOrEmpty(Request.SafeQueryString("entite")) ? Request.SafeQueryString("entite") : "ghse";

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Astucia Group">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- App title -->
    <title>DIGI CONTROL</title>



    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image:url('/images/login-bg3.png');background-position: center center;height:100vh">

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-4 text-center" style="height:100%;margin-top:30vh">
            <img src="/images/ocp.png" style="background-color:#F7F7F7; padding:15px 20px; border-radius:10px;height:30%;width:30%" />
        </div>
        <div class="col-4 text-center hidden-xs-down" style="padding-top:10vh">
            @*<img src="/images/info.png" class="rounded-circle" style="cursor:pointer" />*@
            <h2 style="color:white" class="text-center">
                MACHINE
                CONTROL
            </h2>
            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Authentification</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="/account/login" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input name="email" class="form-control" type="text" required="required" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input name="password" class="form-control" type="password" required="required" placeholder="Votre mot de passe">
                            </div>
                        </div>

                        @*<div class="form-group ">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-custom">
                                <input id="checkbox-signup" name="isuserdomaine" type="checkbox" checked="checked" disabled="disabled">
                                <label for="checkbox-signup">
                                    Avez-vous une session Windows ?
                                </label>
                            </div>

                        </div>
                    </div>*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-bordred btn-block waves-effect waves-light" style="background-color:#B6C804;border-color:#B6C804;color:white	" type="submit">Connexion</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-md-6">
                                @*  <a href="/account/" class="text-muted"><i class="fa fa-lock m-r-5"></i> Mot de passe oublié?</a>*@
                            </div>
                            <div class="col-md-6 text-right">

                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- end card-box-->


            <div class="row">
                <div class="col-sm-12 text-center m-t-40">
                    <p class="text-muted">@DateTime.Now.Year &copy; OCP</p>
                </div>
            </div>
        </div>
        <div class="col-4  text-center" style="margin-top:25vh">
            <img src="/images/logo-salamti.png" style="padding:15px 20px; border-radius:10px;height:65%;width:50%" />
        </div>
    </div>
    <!-- end wrapper page -->
    <!-- end wrapper page -->
    <!-- jQuery  -->

    @Scripts.Render("~/bundles/templateJS")
    <script>
        var resizefunc = [];
    </script>


    <!-- App js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>

</body>
</html>