@model Front.ViewModels.ResultatsVM
@{
    ViewBag.Title = "Contrôle";
}

<h2>@Model.TypeCheckList.Name</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            @Html.Partial("_Table_ResultatInfoGenerale")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            @using (Html.BeginForm("NewControleResultatCheckList", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemandeAccesEnginId", Model.controle.Id)
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary waves-effect w-md waves-light m-b-5">Soumettre</button>
                </div>
                @Html.Partial("_Table_SaveNewExigence")
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>Autorisé</strong>
                        </td>
                        <td>
                            <div class="checkbox checkbox-primary">
                                <input id="AutoriseId" type="checkbox" name="Autorise" value="true" />
                                <label for="AutoriseId">

                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>

            jQuery(document).ready(function() {

                     // Date Picker
                jQuery('.datepicker-autoclose').datepicker({
                    format: "yyyy/mm/dd",
                     autoclose: true,
                     todayHighlight: true,
                });
        });
    </script>



}