@model Front.ViewModels.ResultatsVM
@{
    ViewBag.Title = "Résultats";
}

<h2>@Model.TypeCheckList.Name</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row ">
                <div class="col-md-12 text-right">
                    <button class="btn  btn-primary waves-effect   btn-xs waves-light m-b-5 "><i class="fa fa-send"></i>  soumettre</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">

                    <table id="" class="table table-bordered ">
                        <thead>

                        </thead>
                        <tbody>
                            @{
                                <tr>
                                    <td class="alert alert-success" colspan="12" style="text-align:center">
                                        Type d'engin
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12">@Model.TypeEngin.Name</td>
                                </tr>
                                foreach (var group in Model.TypeCheckList.InfoGenerale.GroupBy(g => g.InfoGeneralRubrique.Name))
                                {
                                    <tr>
                                        <td class="alert alert-success" colspan="12" style="text-align:center">
                                            @group.Key
                                        </td>
                                    </tr>
                                    foreach (var rebricInfo in group)
                                    {

                                        var info = Model.controle.ResultatInfoGenerale.Where(x => x.InfoGeneraleId == rebricInfo.Id).FirstOrDefault();

                                        if (info == null)
                                        {
                                            continue;
                                        }
                                        <tr>
                                            <td>@rebricInfo.Name</td>
                                            <td>@info.ValueInfo</td>
                                        </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">

                <table id="" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Exigences</th>
                            <th>Conforme</th>
                            <th>Observation</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (var rubric in Model.TypeCheckList.CheckListRubrique.Where(x => x.IsActif == true))
                            {
                                <tr style="background-color:#9CCC65; color:white">
                                    <td colspan="4"><b>@rubric.Name</b></td>
                                </tr>
                                foreach (var exigence in rubric.CheckListExigence.Where(x => x.IsActif == true))
                                {
                                    var data = Model.controle.ResultatExigence.Where(x => x.CheckListExigenceId == exigence.Id).FirstOrDefault();

                                    if (data == null)
                                    {
                                        continue;
                                    }
                                    <tr>
                                        <td>@exigence.Name</td>
                                        <td>@(data.IsConform ? "Conforme" : "Non conforme")</td>
                                        <td>@data.Observation</td>
                                        <td>@data.Date</td>

                                    </tr>

                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
